<!-- <div>
    {{isName()}}
</div>
<button [disabled]="!allowNewServer">Button</button>
<input (input)="onUpdateServerName($event)">
{{serverName}}
<input [(ngModel)]="name2">
{{name2}} -->
<!-- <div *ngIf="user; else noUser">
    Hello
</div>
<div>
    <ng-template #noUser>
        Long time no see
    </ng-template>
</div> -->
<!-- <input type="text" placeholder="Enter week" [(ngModel)]="week">
<div [ngSwitch]="week">
    <div *ngSwitchCase="1">Just Sleep</div>
    <div *ngSwitchCase="2">Bad day of the week</div>
    <div *ngSwitchCase="3">2nd bad day after monday</div>
    <div *ngSwitchCase="4">3rd bad day after monday</div>
    <div *ngSwitchCase="5">4th bad day after monday</div>
    <div *ngSwitchCase="6">Get ready vacation is comming</div>
    <div *ngSwitchCase="7">happy vacation</div>
    <div *ngSwitchDefault=""></div>
</div> -->
<!-- <div *ngFor="let list of data">
    {{list.skill}}
</div> -->
<!-- {{user}} -->
<!-- <input [formControl]="testProp">
<button (click)="modifyForm()">Click</button>
{{testProp.value}} -->
<input [(ngModel)]="varib">
<p >{{varib}} </p>
<p >{{varib | uppercase}} </p>
<p >{{num | currency}} </p>
<p >{{varib| slice:3}} </p>