<!-- {{newnkoName.isName}} -->
<!-- <app-bar [user]="objUser"></app-bar> -->
<!-- <input [(ngModel)]="enterValue">
<app-bar [user]="enterValue"></app-bar> -->
<app-bar></app-bar>
<!-- <app-design></app-design> -->